# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main","dev" ]
  pull_request:
    branches: [ "main","dev" ]

jobs:
  build:

    runs-on: ubuntu-latest

        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v5
    - run: |-
          cd patch-script
          yarn install --frozen-lockfile
          yarn prepublishOnly
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}   
    - run: |-
          cd patch-script
          yarn
          yarn start
          tsc -p tsconfig.build.json
          tsc --project tsconfig.json
    - name: Archive production artifacts
      uses: actions/upload-artifact@v6
      with:
        name: artifact
        path: /home/runner/work/soda-player-plus/*
        compression-level: 5
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v5
      with:
        name: artifact
